<% content_for :body_content_title do %>
  <%= @home.title %>
<% end %>

<% content_for :body do %>
  <section>
    <h1>Title</h1>
    <p>
      <%=raw @home.title %>
    </p>
  </section>
  <section>
    <h1>Type Module</h1>
    <p>
      <%=raw @home.type_module %>
    </p>
  </section>
  <section>
    <h1>Content</h1>
    <p>
      <%=raw @home.content %>
    </p>
  </section>
<% end %>

<% content_for :side_body do %>
  <aside>
    <h2><%= t('.other') %></h2>
    <ul id="homes">
      <% @homes.each do |home| %>
        <li>
          <%= link_to home.title, refinery.homes_home_path(home) %>
        </li>
      <% end %>
    </ul>
  </aside>
<% end %>

<%= render '/refinery/content_page' %>
