<% content_for :body_content_title do %>
  
<% end %>

<% content_for :body do %>  
  
  <% if @page_module.type_module == "big slider" %>
    <div class="slider">
      <h1><%= @page_module.title %></h1>
      <ul class="big_slider"> 
        <% @page_module.page_module_images.each do |page_module_image| %>
          <li class="ui-tabs-panel">
            <%= image_fu(page_module_image.photo, "900x300")%>
          </li> 
        <% end %>
      </ul>
    </div> 
  <% elsif @page_module.type_module == "small slider" %>
    <div class="slider">
      <div class="slider1">
        <h1><%= @page_module.title %></h1>
        <ul class="small_slider"> 
          <% @page_module.page_module_images.each do |page_module_image| %>
            <li class="ui-tabs-panel">
              <%= image_fu(page_module_image.photo, "900x300")%>
            </li> 
          <% end %>
        </ul>
      </div>
    </div> 
  <% else %>
    <h1><%= @page_module.title %></h1>
    <%= raw @page_module.body %>
  <% end %>
<% end %>

<%= render '/refinery/content_page' %>
