<li class='clearfix record <%= cycle("on", "on-hover") %>' id="<%= dom_id(page_module) -%>">
  <span class='title'>
    <%= page_module.title %>
    (<%= page_module.type_module %>)
  </span> 
  <span class='actions'>
    
    <%= link_to refinery_icon_tag("application_go.png"), refinery.page_modules_page_module_path(page_module),
        :title => t('.view_live_html'),
        :target => "_blank" %>
    
    <%= link_to refinery_icon_tag("application_edit.png"), refinery.edit_page_modules_admin_page_module_path(page_module),
         :title => t('.edit') %>
    <%= link_to refinery_icon_tag("delete.png"), refinery.page_modules_admin_page_module_path(page_module),
        :class => "cancel confirm-delete",
        :title => t('.delete'),
        :confirm => t('message', :scope => 'refinery.admin.delete', :title => page_module.title),
        :method => :delete %>
  </span>
</li>
